@page "/Comment"
@using Jx.Cms.Common.Attribute
@using Jx.Cms.Common.Enum
@using Jx.Cms.DbContext.Entities.Article
@using Jx.Cms.Plugin.Service.Both

@inject ICommentService CommentService
@inject ToastService ToastService

@attribute [Menu("0A8D80A4-7F14-4AA4-85E7-5945AF03F80F", "评论列表", "/Comment", 10, iconClass:"fa fa-newspaper-o")]

<Table @ref="_table" TItem="CommentEntity" IsBordered="true" IsPagination="true" ShowDefaultButtons="false" ShowExtendButtons="true" OnQueryAsync="OnQueryAsync">
    <RowButtonTemplate>
        <Button Size="Size.ExtraSmall" Text="@(context.Status == CommentStatusEnum.Pass ? "待审核" : "通过")" OnClick="() => ChangeCommentStatus(context)"></Button>
        <PopConfirmButton Placement="Placement.Left" Size="Size.ExtraSmall"
                                                                                  Color="Color.Danger" Icon="fa fa-remove" Text="删除"
                                                                                  CloseButtonText="否"
                                                                                  Content="是否删除该评论？"
                                                                                  ConfirmButtonColor="Color.Danger"
                                                                                  ConfirmButtonText="是"
                                                                                  OnConfirm="@DeleteAsync(context)" />
    </RowButtonTemplate>
    <TableColumns>
        <TableColumn @bind-Field="@context.Id" Text="评论ID" Width="60"></TableColumn>
        <TableColumn @bind-Field="@context.ParentId" Text="父评论ID" Width="60">
            <Template Context="row">
                @if (row.Value == 0)
                {
                    @:无
                }
                else
                {
                    @row.Value
                }
            </Template>
        </TableColumn>
        <TableColumn @bind-Field="@context.AuthorName" Text="评论者"></TableColumn>
        <TableColumn @bind-Field="@context.Content" Text="评论内容"></TableColumn>
        <TableColumn @bind-Field="@context.Status" Text="评论状态"></TableColumn>
    </TableColumns>
</Table>

@code {

    private Table<CommentEntity> _table;

    private Task<QueryData<CommentEntity>> OnQueryAsync(QueryPageOptions arg)
    {
        var comment = CommentService.GetCommentPage(arg.PageIndex, arg.PageItems, out long count);
        return Task.FromResult(new QueryData<CommentEntity>()
        {
            Items = comment,
            TotalCount = (int)count
        });
    }

    private void ChangeCommentStatus(CommentEntity comment)
    {
        CommentService.ChangeStatus(comment.Id, comment.Status == CommentStatusEnum.Pass ? CommentStatusEnum.NeedCheck : CommentStatusEnum.Pass);
        _table.QueryAsync();
    }

    private Func<Task> DeleteAsync(CommentEntity context) => async () =>
    {
        var ret = CommentService.DeleteComment(context);
        if (ret)
        {
            await _table.QueryAsync();
        }
        var option = new ToastOption
        {
            Title = $"删除评论",
            Category = ret ? ToastCategory.Success : ToastCategory.Error,
            Content = $"删除评论{(ret ? "成功" : "失败")}"
        };
        await ToastService.Show(option);
    };

}