@page "/Page/Write"
@page "/Page/Write/{Id:int}"
@using Jx.Cms.Common.Attribute
@using Jx.Cms.Common.Enum
@using Jx.Cms.Entities.Article
@using Jx.Cms.Admin.ViewModel
@using Mapster
@using System.Security.Claims
@using Furion
@using Jx.Cms.DbContext.Service.Admin
@using Jx.Cms.Plugin.Model
@using Jx.Cms.Plugin.Utils

@inject NavigationManager NavigationManager
@inject IPageService PageService
@inject ICatalogService CatalogService
@inject ToastService ToastService

@attribute [Menu("A0259D93-39EB-462B-A69F-13924963D6AE", "创建页面", "/Page/Write", 5, iconClass:"fa fa-pencil", parentId:MenuIds.PageId)]

<ValidateForm class="row" Model="Article" OnValidSubmit="@OnValidSubmit">
    <div class="col-lg-9 col-md-8">
        <div class="row">
            <div class="form-group col-12">
                <BootstrapInput placeholder="请输入标题" @bind-Value="@Article.Title" DisplayText="页面标题" ShowLabel="true"></BootstrapInput>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-12">
                <label>页面内容</label>
                <Editor IsEditor="true" Height="400" @bind-Value="@Article.Content"></Editor>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-12">
                <BootstrapInput @bind-Value="@Article.Alias" DisplayText="别名" ShowLabel="true"></BootstrapInput>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-4">
        <div class="row">
            <div class="form-group col-12">
                <Button IsBlock="true" Size="Size.Large" ButtonType="ButtonType.Submit">提交</Button>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-12">
                <Select style="width:100%" Items="ArticleStatus" @bind-Value="Article.Status" DisplayText="状态"></Select>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-12">
                <DateTimePicker TValue="DateTime" ShowSidebar="true" @bind-Value="@Article.PublishTime" DisplayText="发布时间" ShowLabel="true" ViewModel="DatePickerViewModel.DateTime" />
            </div>
        </div>
    </div>
</ValidateForm>
@code {
    [Parameter]
    public int Id { get; set; }

    private ArticleEntity Article { get; set; }

    private IEnumerable<SelectedItem> ArticleStatus { get; set; } = typeof(ArticleStatusEnum).ToSelectList();

    private List<EditorExtModel> EditorExtModels { get; set; }
    
    private List<EditorToolbarButton> ToolbarButtons { get; set; }

    protected override void OnInitialized()
    {
        base.OnInitialized();
        EditorExtModels = PluginUtil.OnArticleEditorShow();
        ToolbarButtons = EditorExtModels.Select(x => x.ToolbarButton).ToList();
        var mediaButton = new EditorToolbarButton
        {
            Tooltip = "选择媒体",
            ButtonName = "selectMedia",
            IconClass = "fa fa-picture-o"
        };
        ToolbarButtons.Add(mediaButton);
        Article = Id == 0 ? new ArticleEntity(){IsPage = true, PublishTime = DateTime.Now, Status = ArticleStatusEnum.Published} : PageService.GetPageById(Id);
    }

    private async Task OnValidSubmit(EditContext arg)
    {
        Article.Author = App.GetService<IAdminUserService>().GetUserByUserName(App.User?.FindFirstValue(ClaimTypes.Name)).NickName;
        
        var ret = PageService.SavePage(Article);
        await ToastService.Show(new ToastOption()
        {
            Category = ret?ToastCategory.Success: ToastCategory.Error,
            Title = ret?"保存成功":"保存失败",
            Content = $"保存数据{(ret?"成功":"失败")}，4 秒后自动关闭"
        });
        if (ret)
        {
            NavigationManager.NavigateTo("Page/All");
        }        
    }

}