@using Jx.Cms.Common.Utils
@using Jx.Cms.Entities.Front
@using Jx.Cms.Common.Enum

<!DOCTYPE html>
<html lang="zh">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>@ViewData[SettingsConstants.TitleKey] - @ViewData[SettingsConstants.SubTitleKey]</title>

    <!-- Bootstrap core CSS -->
    <link href="/Default/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link href="/Default/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">

    <!-- Custom styles for this template -->
    <link href="/Default/css/clean-blog.min.css" rel="stylesheet">

  </head>

  <body>

    <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
    <div class="container">
      <a class="navbar-brand" href="@ViewData[SettingsConstants.UrlKey]">@ViewData[SettingsConstants.TitleKey]</a>
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        菜单
        <i class="fa fa-bars"></i>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          @{
            var menus = ViewData["menu"] as List<MenuEntity>;
            foreach (var menuEntity in menus)
            {
              @if (menuEntity.HasChildren)
              {
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" id="@menuEntity.Id" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    @Html.Raw(menuEntity.NavTitle)
                  </a>
                  <div class="dropdown-menu" aria-labelledby="@menuEntity.Id">
                    @foreach (var menu in menuEntity.Children)
                    {
                      <a class="dropdown-item" menu="menu"></a>
                    }
                  </div>
                </li>
              }
              else
              {
                <li class="nav-item">
                  <a class="dropdown-item" menu="menuEntity"></a>
                </li>
              }
            }
          }
        </ul>
      </div>
    </div>
  </nav>
  
  @RenderBody()
    <hr>

    <!-- Footer -->
    <footer>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-md-10 mx-auto">
            <p class="copyright text-muted">@ViewData[SettingsConstants.CopyRightKey]</p>
          </div>
        </div>
      </div>
    </footer>

    <!-- Bootstrap core JavaScript -->
    <script src="/Default/vendor/jquery/jquery.min.js"></script>
    <script src="/Default/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Custom scripts for this template -->
    <script src="/Default/js/clean-blog.min.js"></script>

  </body>

</html>
