@page "/Step3"

@using Jx.Cms.Admin.ViewModel
@using Jx.Cms.Common.Utils
@using Jx.Cms.Service.Admin

@inject IAdminUserService AdminUserService

<div class="container">
    <ValidateForm Model="@InstallInfoVm" OnValidSubmit="@OnSubmit">
    <h2>管理员设置</h2>
        <div class="row">
            <div class="form-group col-12">
                <BootstrapInput @bind-Value="@InstallInfoVm.AdminName" DisplayText="管理员用户名"></BootstrapInput>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-12">
                <BootstrapInput @bind-Value="@InstallInfoVm.AdminPassword" DisplayText="管理员密码" type="password"></BootstrapInput>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-12">
                <BootstrapInput @bind-Value="@InstallInfoVm.AdminRePassword" DisplayText="管理员密码重复" type="password">
                    <InstallValidator></InstallValidator>
                </BootstrapInput>
            </div>
        </div>
        <div class="row">
            <div class="form-group m-auto">
                <Button ButtonType="ButtonType.Submit">确认</Button>
            </div>
        </div>
    </ValidateForm>
</div>

@code {
    [CascadingParameter]
    public EventCallback Next { get; set; }

    private InstallInfoVm InstallInfoVm { get; set; }

    protected override void OnInitialized()
    {
        base.OnInitialized();
        InstallInfoVm = new InstallInfoVm(){AdminName = "Admin"};
    }

    private async Task OnSubmit(EditContext arg)
    {
        AdminUserService.Register(InstallInfoVm.AdminName, InstallInfoVm.AdminPassword);
        System.IO.File.Create("install.lock");
        Util.IsInstalled = true;
        await Next.InvokeAsync();
    }

}