@using Masuit.Tools.Systems
@using Jx.Cms.Rewrite
@using Blogs.Model

@inject ToastService ToastService


<Toast></Toast>
<Row ItemsPerRow="ItemsPerRow.Two">
    <h3>Blogs伪静态设置</h3>
    <Button OnClick="Save" style="float: right">保存</Button>
</Row>

<table class="table">
    <tbody>
    <tr>
        <td>静态化选项 </td>
        <td><Radio Items="@_optionItem" OnStateChanged="OnStateChanged"></Radio></td>
    </tr>
    <tr>
        <td>文章URL配置</td>
        <td><BootstrapInput @bind-Value="@RewriterModel.ArticleUrl" IsDisabled="@_isDisabled"></BootstrapInput></td>
    </tr>
    <tr>
        <td></td>
        <td><Radio Items="@_articleItems" IsVertical="true" OnStateChanged="ArticleChange" IsDisabled="_isDisabled"></Radio></td>
    </tr>
    <tr>
        <td>页面的URL配置</td>
        <td><BootstrapInput @bind-Value="@RewriterModel.PageUrl" IsDisabled="@_isDisabled"></BootstrapInput></td>
    </tr>
    <tr>
        <td></td>
        <td><Radio Items="@_pageItems" IsVertical="true" OnStateChanged="PageChange" IsDisabled="_isDisabled"></Radio></td>
    </tr>
    <tr>
        <td>首页URL配置</td>
        <td><BootstrapInput @bind-Value="@RewriterModel.IndexUrl" IsDisabled="@_isDisabled"></BootstrapInput></td>
    </tr>
    <tr>
        <td></td>
        <td><Radio Items="@_indexItems" IsVertical="true" OnStateChanged="IndexChange" IsDisabled="_isDisabled"></Radio></td>
    </tr>
    </tbody>
</table>

@code {
    
    // 伪静态选项Radio
    private IEnumerable<SelectedItem> _optionItem;

    // 文章推荐Radio
    private readonly IEnumerable<SelectedItem> _articleItems = new[]
    {
        new SelectedItem("/post/{{id}}.html", "/post/{{id}}.html"), new SelectedItem("/post/{{alias}}.html", "/post/{{alias}}.html")
            , new SelectedItem("/{%year%}/{%month%}/{%id%}/", "/{%year%}/{%month%}/{%id%}/"), new SelectedItem("/{%category%}/{%alias%}/", "/{%category%}/{%alias%}/")
    };
    
    // 页面推荐Radio
    private readonly IEnumerable<SelectedItem> _pageItems = new[]
    {
        new SelectedItem("/{{id}}.html", "/{{id}}.html"), new SelectedItem("/{{alias}}.html", "/{{alias}}.html")
        , new SelectedItem("/{{alias}}/", "/{{alias}}/")
    };
    
    // 首页推荐Radio
    private readonly IEnumerable<SelectedItem> _indexItems = new[]
    {
        new SelectedItem("/{{id}}.html", "/{{id}}.html"), new SelectedItem("/{{alias}}.html", "/{{alias}}.html")
        , new SelectedItem("/{{alias}}/", "/{{alias}}/")
    };

    private RewriterModel RewriterModel { get; set; }

    protected override void OnInitialized()
    {
        base.OnInitialized();
        RewriterModel = Model.RewriterModel.GetSettings();
        _optionItem = typeof(RewriteOptionEnum).ToSelectList().ToList();
        _isDisabled = RewriterModel.RewriteOption != RewriteOptionEnum.Rewrite.ToString();
        _optionItem.First(x => x.Value == RewriterModel.RewriteOption).Active = true;
        StateHasChanged();
    }

    // 是否禁用
    private bool _isDisabled = false;

    private Task OnStateChanged(CheckboxState arg1, SelectedItem arg2)
    {
        RewriterModel.RewriteOption = arg2.Value;
        if (arg2.Value == RewriteOptionEnum.Dynamic.ToString())
        {
            _isDisabled = true;
        }
        else if (arg2.Value == RewriteOptionEnum.Rewrite.ToString())
        {
            _isDisabled = false;
        }
        StateHasChanged();
        return Task.CompletedTask;
    }

    private Task ArticleChange(CheckboxState arg1, SelectedItem arg2)
    {
        RewriterModel.ArticleUrl = arg2.Text;
        StateHasChanged();
        return Task.CompletedTask;
    }
    
    private Task PageChange(CheckboxState arg1, SelectedItem arg2)
    {
        RewriterModel.PageUrl = arg2.Text;
        StateHasChanged();
        return Task.CompletedTask;
    }

    private Task IndexChange(CheckboxState arg1, SelectedItem arg2)
    {
        RewriterModel.IndexUrl = arg2.Text;
        StateHasChanged();
        return Task.CompletedTask;
    }
    
    private void Save()
    {
        RewriterModel.SaveSettings(RewriterModel);
        ToastService.Success("修改成功", "Blogs伪静态规则设置成功");
    }
}