@using Blogs.Enum
@using Blogs.Model
@model Jx.Cms.Themes.Vm.TagVm

@{
	var blogs = ViewBag.blogs as SettingsModel;
}

<nav class="breadcrumb"><a title="返回首页" href="/">首页</a>
    &nbsp;&gt;&nbsp;@Model.Tag.Name 标签文章
</nav>

<div id="content" class="site-content">	
    <div class="clear"></div>
    <div id="contentab">	
        <section id="primary" class="content-area">
            <main id="main" class="site-main" role="main">
				
                <div id="post_list_box" class="border_gray">
                    @await Html.PartialAsync("_articleList", Model.Articles, ViewData)
					
                </div>
            </main><!-- .site-main -->
            <nav class="navigation pagination" role="navigation">
                <div class="nav-links">
                    @foreach (var pagination in Model.Pagination)
                    {
                        if (pagination.Key == Model.PageNum.ToString())
                        {
                            <span class='page-numbers current'>@pagination.Key</span>
                        }
                        else if (pagination.Key == "‹")
                        {
                            <span class="prev"><a class="page-numbers" tag="@Model.Tag" label-page-num="@pagination.Value" title="上一页"><i class="fa fa-angle-left"></i></a></span>
                        }
                        else if (pagination.Key == ">")
                        {
                            <span class="next"><a class="page-numbers" tag="@Model.Tag" label-page-num="@pagination.Value" title="下一页"><i class="fa fa-angle-right"></i></a></span>
                        }
                        else if (pagination.Key == "<<")
                        {
                            <a class="page-numbers" tag="@Model.Tag" label-page-num="@pagination.Value" title="第1页"><i class="fa fa-angle-double-left"></i></a>
                        }
                        else if (pagination.Key == ">>")
                        {
                            <a class="page-numbers" tag="@Model.Tag" label-page-num="@pagination.Value" title="最后一页"><i class="fa fa-angle-double-right"></i></a>
                        }
                        else
                        {
                            <a class="page-numbers" tag="@Model.Tag" label-page-num="@pagination.Value" title="第 @pagination.Key 页">@pagination.Key</a>
                        }
                    }
                </div>
            </nav>
        </section><!-- .content-area -->
        @if (blogs.Sidebar != SidebarEnum.None)
        {
            <sidebar sidebar="MainMenu"></sidebar>
        }
    </div>
    <div class="clear"></div>
</div>