@using Blogs.Model
@using Jx.Cms.Themes.Vm
@using Blogs.Enum
@model Jx.Cms.Themes.Vm.PageVm

@Html.Raw(Model.HeaderExt)

@{
	var blogs = ViewBag.blogs as SettingsModel;
    var settings = ViewData["settings"] as SystemSettingsVm;
}

<nav class="breadcrumb"><a title="返回首页" href="/">首页</a>
    &nbsp;&gt;&nbsp;@Model.Article.Title
</nav>

<div id="content" class="site-content">	
    <div class="clear"></div>
    <div id="primary" class="content-area">
        <main id="main" class="site-main" role="main">
            <article id="post-@Model.Article.Id" class="post-@Model.Article.Id post type-page status-publish hentry">

                <header class="entry-header">
                    <h1 class="entry-title">@Model.Article.Title</h1>	
                    <div class="single_info">
                        <span class="date"><i class="fas fa-clock"></i>&nbsp;@Model.Article.PublishTime.ToString("yyyy-MM-dd HH:mm:ss")&nbsp;</span>
                        <span class="views"><i class="fas fa-users"></i>&nbsp;@Model.Article.ReadingVolume 人阅读</span>
                        <span class="comment"><i class="fas fa-comment"></i>&nbsp;@(Model.CommentCount) 条评论</span>
                        @if (ViewData["user"] != null)
                        {
                            <span class="edit"><i class="fas fa-pencil-alt"></i>&nbsp;<a href="/Admin/Article/Write/@Model.Article.Id" rel="nofollow">编辑</a></span>
                        }
                    </div>						
                </header><!-- .entry-header -->

                <div class="entry-content">
                    <div class="single-content">									
                        @Html.Raw(Model.Article.Content)
                    </div>
                    <div class="clear"></div>
                </div><!-- .entry-content -->

            </article><!-- #post -->

            <div class="clear"></div>

            @if (settings.CanComment && Model.Article.CanComment)
            {
                <div id="commentDiv">
                    @await Html.PartialAsync("../Comment/Index.cshtml", Model.Article.Comments.ToList(), ViewData)
                </div>
            }
            else
            {
                <p class="no-comments">评论已关闭！</p>
            }
        </main><!-- .site-main -->
    </div><!-- .content-area -->
    @if (blogs.Sidebar != SidebarEnum.None)
    {
        <sidebar></sidebar>
    }
</div>
<div class="clear"></div>
@Html.Raw(@Model.BodyExt)