@page "/Admin/Page/Write"
@page "/Admin/Page/Write/{Id:int}"
@using System.Security.Claims
@using Jx.Cms.Common.Attribute
@using Jx.Cms.Common.Enum
@using Jx.Cms.DbContext.Entities.Article
@using Jx.Cms.Plugin.Cache
@using Jx.Cms.Plugin.Components
@using Jx.Cms.Plugin.Model
@using Jx.Cms.Plugin.Plugin
@using Jx.Cms.Plugin.Service.Admin
@using Jx.Cms.Plugin.Utils

@inject NavigationManager NavigationManager
@inject IPageService PageService
@inject ICatalogService CatalogService
@inject ToastService ToastService
@inject DialogService DialogService
@inject PluginDialogService PluginDialogService
@inject IHttpContextAccessor HttpContextAccessor
@inject IAdminUserService AdminUserService
@inject IServiceProvider ServiceProvider

@attribute [Menu("A0259D93-39EB-462B-A69F-13924963D6AE", "创建页面", "Admin/Page/Write", 5, parentId: MenuIds.PageId)]

<ValidateForm class="row" Model="Article" OnValidSubmit="@OnValidSubmit">
    <div class="col-lg-9 col-md-8">
        <Card IsShadow="true">
            <BodyTemplate>
                <div class="row g-3">
                    <div class="col-12">
                        <BootstrapInput placeholder="请输入标题" @bind-Value="@Article.Title" DisplayText="页面标题"
                                        ShowLabel="true"></BootstrapInput>
                    </div>
                    
                    <div class="col-12">
                        <BootstrapInput @bind-Value="@Article.Alias" DisplayText="别名" ShowLabel="true"></BootstrapInput>
                    </div>

                    <div class="col-12">
                        <label class="form-label">页面内容</label>
                        <Editor IsEditor="true" Height="500" @bind-Value="@Article.Content"
                                CustomerToolbarButtons="@ToolbarButtons" OnClickButton="@OnClickButton"></Editor>
                    </div>
                </div>
            </BodyTemplate>
        </Card>
    </div>
    <div class="col-lg-3 col-md-4">
        <Card IsShadow="true">
            <HeaderTemplate>发布设置</HeaderTemplate>
            <BodyTemplate>
                <div class="d-grid gap-3">
                    <Button IsBlock="true" ButtonType="ButtonType.Submit" Icon="fa fa-save" Text="保存页面" Color="Color.Primary"></Button>
                    <Select Items="ArticleStatus" @bind-Value="Article.Status" DisplayText="状态" ShowLabel="true"></Select>
                    <DateTimePicker TValue="DateTime" ShowSidebar="true" @bind-Value="@Article.PublishTime"
                                    DisplayText="发布时间" ShowLabel="true" ViewModel="DatePickerViewModel.DateTime"/>
                </div>
            </BodyTemplate>
        </Card>
    </div>
</ValidateForm>

@code {
    [Parameter] public int Id { get; set; }

    private ArticleEntity Article { get; set; }

    private IEnumerable<SelectedItem> ArticleStatus { get; } = typeof(ArticleStatusEnum).ToSelectList();

    private List<EditorExtModel> EditorExtModels { get; set; }

    private List<EditorToolbarButton> ToolbarButtons { get; set; }

    private IEnumerable<IArticlePlugin> ArticlePlugins { get; set; }

    private IEnumerable<ArticleExtModel> BottomExt { get; set; }

    private IEnumerable<ArticleExtModel> RightExt { get; set; }

    protected override void OnInitialized()
    {
        base.OnInitialized();
        ArticlePlugins = ArticlePluginCache.GetArticlePlugins().ToList();
        EditorExtModels = PluginUtil.OnArticleEditorShow(ArticlePlugins, ServiceProvider);
        ToolbarButtons = EditorExtModels.Select(x => x.ToolbarButton).ToList();
        Article = Id == 0 ? new ArticleEntity { IsPage = true, PublishTime = DateTime.Now, Status = ArticleStatusEnum.Published } : PageService.GetPageById(Id);
    }

    private async Task OnValidSubmit(EditContext arg)
    {
        var userName = HttpContextAccessor?.HttpContext?.User?.FindFirstValue(ClaimTypes.Name);
        Article.Author = userName != null ? AdminUserService?.GetUserByUserName(userName)?.NickName ?? "" : "";

        if (!PluginUtil.OnContentBeforeSave(ArticlePlugins, Article, out var errorMsg))
        {
            await ToastService.Error("保存失败", errorMsg);
            return;
        }

        var ret = PageService.SavePage(Article);
        await ToastService.Show(new ToastOption
        {
            Category = ret ? ToastCategory.Success : ToastCategory.Error,
            Title = ret ? "保存成功" : "保存失败",
            Content = $"保存数据{(ret ? "成功" : "失败")}，4 秒后自动关闭"
        });
        if (ret)
        {
            var warnings = new List<string>();
            PluginUtil.OnContentSaved(ArticlePlugins, Article, warnings.Add);
            if (warnings.Count > 0)
            {
                await ToastService.Show(new ToastOption
                {
                    Category = ToastCategory.Warning,
                    Title = "插件提示",
                    Content = string.Join("；", warnings.Take(3))
                });
            }
            NavigationManager.NavigateTo("Admin/Page/All");
        }
    }

    private async Task<string> OnClickButton(string arg)
    {
        var model = EditorExtModels.Find(x => x.ToolbarButton.ButtonName == arg);
        if (model == null)
        {
            return "";
        }

        var option = new ResultDialogOption();
        var type = model.OnDialogCreate(option);
        var res = await model.OnToolbarClick(await PluginDialogService.ShowModal(option, type, DialogService));
        return res;
    }

}
