@page "/Settings/RewriteSettings"
@using Jx.Cms.Common.Attribute
@using Jx.Cms.Rewrite
@using Masuit.Tools.Systems


@attribute [Menu("7B0EB51A-78C8-4DFE-AC19-D001845114F6", "伪静态设置", "/Admin/Settings/RewriteSettings", iconClass:"fa fa-newspaper-o",  parentId:MenuIds.SettingsId)]

<table class="table">
    <tbody>
    <tr>
        <td>静态化选项 </td>
        <td><Radio Items="@_optionItem" OnStateChanged="@OnStateChanged"></Radio></td>
    </tr>
    <tr>
        <td>文章URL配置</td>
        <td><BootstrapInput @bind-Value="@_articleUrl" IsDisabled="@_isDisabled"></BootstrapInput></td>
    </tr>
    <tr>
        <td></td>
        <td><Radio Items="@_articleItems" IsVertical="true" OnStateChanged="ArticleChange" IsDisabled="_isDisabled"></Radio></td>
    </tr>
    <tr>
        <td>页面的URL配置</td>
        <td><BootstrapInput @bind-Value="@_pageUrl" IsDisabled="@_isDisabled"></BootstrapInput></td>
    </tr>
    <tr>
        <td></td>
        <td><Radio Items="@_pageItems" IsVertical="true" OnStateChanged="PageChange" IsDisabled="_isDisabled"></Radio></td>
    </tr>
    <tr>
        <td>首页URL配置</td>
        <td><BootstrapInput @bind-Value="@_indexUrl" IsDisabled="@_isDisabled"></BootstrapInput></td>
    </tr>
    <tr>
            <td></td>
            <td><Radio Items="@_indexItems" IsVertical="true" OnStateChanged="IndexChange" IsDisabled="_isDisabled"></Radio></td>
        </tr>
    </tbody>
</table>

@code {
    // 伪静态选项Radio
    private IEnumerable<SelectedItem> _optionItem;

    // 文章推荐Radio
    private readonly IEnumerable<SelectedItem> _articleItems = new[]
    {
        new SelectedItem("/post/{{id}}.html", "/post/{{id}}.html"), new SelectedItem("/post/{{alias}}.html", "/post/{{alias}}.html")
            , new SelectedItem("/{%year%}/{%month%}/{%id%}/", "/{%year%}/{%month%}/{%id%}/"), new SelectedItem("/{%category%}/{%alias%}/", "/{%category%}/{%alias%}/")
    };
    
    // 页面推荐Radio
    private readonly IEnumerable<SelectedItem> _pageItems = new[]
    {
        new SelectedItem("/{{id}}.html", "/{{id}}.html"), new SelectedItem("/{{alias}}.html", "/{{alias}}.html")
        , new SelectedItem("/{{alias}}/", "/{{alias}}/")
    };
    
    // 首页推荐Radio
    private readonly IEnumerable<SelectedItem> _indexItems = new[]
    {
        new SelectedItem("/{{id}}.html", "/{{id}}.html"), new SelectedItem("/{{alias}}.html", "/{{alias}}.html")
        , new SelectedItem("/{{alias}}/", "/{{alias}}/")
    };

    // 是否禁用
    private bool _isDisabled = false;

    // 文章Url
    private string _articleUrl = "";

    // 页面Url
    private string _pageUrl = "";

    // 首页Url
    private string _indexUrl = "";

    protected override void OnInitialized()
    {
        base.OnInitialized();
        _optionItem = typeof(RewriteOptionEnum).GetDescriptionAndValue().Select(x => new SelectedItem(x.Value.ToString(), x.Key)).ToList();
    }

    private Task OnStateChanged(CheckboxState arg1, SelectedItem arg2)
    {
        if (arg2.Text == RewriteOptionEnum.Dynamic.GetDescription())
        {
            _isDisabled = true;
        }
        else if (arg2.Text == RewriteOptionEnum.Rewrite.GetDescription())
        {
            _isDisabled = false;
        }
        StateHasChanged();
        return Task.CompletedTask;
    }

    private Task ArticleChange(CheckboxState arg1, SelectedItem arg2)
    {
        _articleUrl = arg2.Text;
        StateHasChanged();
        return Task.CompletedTask;
    }
    
    private Task PageChange(CheckboxState arg1, SelectedItem arg2)
    {
        _pageUrl = arg2.Text;
        StateHasChanged();
        return Task.CompletedTask;
    }

    private Task IndexChange(CheckboxState arg1, SelectedItem arg2)
    {
        _indexUrl = arg2.Text;
        StateHasChanged();
        return Task.CompletedTask;
    }
}