@model Jx.Cms.Themes.Vm.PageVm

@Html.Raw(Model.HeaderExt)
<!-- Page Header -->
<header class="masthead" style="background-image: url('/Default/img/post-bg.jpg')">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
                <div class="post-heading">
                    <h1>@Model.Article.Title</h1>
                    <span class="meta">
                        <a href="#">@Model.Article.Author</a>
                        @Model.Article.PublishTime.ToString("yyyy-MM-dd hh:mm:ss")</span>
                </div>
            </div>
        </div>
    </div>
</header>

<!-- Post Content -->
<article>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
                @Html.Raw(Model.Article.Content)
            </div>
        </div>
    </div>
</article>

<div id="commentDiv">
    @await Html.PartialAsync("../Comment/Index.cshtml", Model.Article.Comments, ViewData)
</div>


@Html.Raw(Model.BodyExt)
