@page "/Settings/SystemSettings"
@using Jx.Cms.Common.Attribute
@using Jx.Cms.Themes.Vm

@inject ToastService ToastService

@attribute [Menu("CB0C129D-48D7-4E0A-BA1B-EE1912D3580D", "系统设置", "/Settings/SystemSettings", iconClass:"fa fa-newspaper-o",  parentId:MenuIds.SettingsId)]

    <ValidateForm Model="@_systemSettings">
        <div class="row">
            <div class="form-group col-12">
                <BootstrapInput @bind-Value="@_systemSettings.Title" DisplayText="标题"></BootstrapInput>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-12">
                <BootstrapInput @bind-Value="@_systemSettings.SubTitle" DisplayText="副标题"></BootstrapInput>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-12">
                <BootstrapInput @bind-Value="@_systemSettings.Url" DisplayText="网站地址"></BootstrapInput>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-12">
                <BootstrapInputNumber @bind-Value="@_systemSettings.CountPerPage" DisplayText="每页显示数量"></BootstrapInputNumber>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-12">
                <Textarea rows="5" @bind-Value="@_systemSettings.CopyRight" DisplayText="版权信息"></Textarea>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-12">
                <BootstrapInput rows="5" @bind-Value="@_systemSettings.BeiAn" DisplayText="备案信息"></BootstrapInput>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-12">
                <Button OnClick="@Save">保存配置</Button>
            </div>
        </div>
    </ValidateForm>


@code {

    private SystemSettingsVm _systemSettings;

    protected override void OnInitialized()
    {
        base.OnInitialized();
        _systemSettings = SystemSettingsVm.Init();
    }

    private void Save()
    {
        _systemSettings.Save();
        ToastService?.Show(new ToastOption()
        {
            Content = "保存成功"
        });
    }
}