@using Jx.Cms.Common.Utils
@using Masuit.Tools.Html
@using Humanizer
@using Jx.Cms.DbContext.Entities.Article
@using Jx.Cms.Themes.Vm
@model Jx.Cms.Themes.Vm.CatalogVm

@{
  var settings = ViewData["settings"] as SystemSettingsVm;
  var TotalPage = Model.TotalCount % Model.PageSize == 0 ? Model.TotalCount / Model.PageSize : Model.TotalCount / Model.PageSize + 1;
  var StartNo = 0;
  if (TotalPage < 5)
  {
    StartNo = 1;
  }
  else if (Model.PageNum + 2 > TotalPage)
  {
    StartNo = (int)TotalPage - 4;
  }
  else if (Model.PageNum - 2 < 1)
  {
    StartNo = 1;
  }
  else
  {
    StartNo = Model.PageNum - 2;
  }
}
<!-- Page Header -->
    <header class="masthead" style="background-image: url('/Default/img/home-bg.jpg')">
      <div class="overlay"></div>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-md-10 mx-auto">
            <div class="site-heading">
              <h1>分类目录 @Model.Catalog.Name</h1>
              <span class="subheading">@settings.Title</span>
            </div>
          </div>
        </div>
      </div>
    </header>

    <!-- Main Content -->
<div class="container">
  <div class="row">
    <div class="col-lg-8 col-md-10 mx-auto">
      @foreach (ArticleEntity articleEntity in Model.Articles){
        <div class="post-preview">
          <a article="@articleEntity">
            <h2 class="post-title">
              @articleEntity.Title
            </h2>
            <h3 class="post-subtitle">
              @{
                var content = articleEntity.Content.RemoveHtmlTag();
              }
              @(content.Length > 120 ? content.Substring(120) : content)
            </h3>
          </a>
          <p class="post-meta">
            <a href="#">@articleEntity.Author</a>
            @articleEntity.PublishTime.Humanize()</p>
        </div>
      }
      <hr>
      <!-- Pager -->
      <div class="clearfix">
        <nav aria-label="Page navigation example">
          <ul class="pagination justify-content-center">
            <li class="page-item @if (Model.PageNum <= 1) { @("disabled") }">
              <a class="page-link" catalog="@Model.Catalog" catalog-page-num="1" >首页</a>
            </li>
            <li class="page-item @if (Model.PageNum <= 1) { @("disabled") }">
              <a class="page-link" catalog="@Model.Catalog" catalog-page-num="@Model.PageNum - 1" tabindex="-1">上一页</a>
            </li>
            @for (int i = StartNo; i <= TotalPage && i < StartNo + 5; i++)
            {
              if (Model.PageNum == i)
              {
                <li class="page-item active"><a class="page-link">@i</a></li>
              }
              else
              {
                <li class="page-item"><a class="page-link" catalog="@Model.Catalog" catalog-page-num="@i">@i</a></li>
              }
              
            }
            <li class="page-item @if (Model.PageNum >= TotalPage){@("disabled")}">
              <a class="page-link" catalog="@Model.Catalog" catalog-page-num="@Model.PageNum + 1">下一页</a>
            </li>
            <li class="page-item @if (Model.PageNum >= TotalPage){@("disabled")}">
              <a class="page-link" catalog="@Model.Catalog" catalog-page-num="@((int)TotalPage)">尾页</a>
            </li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
</div>