@page "/Article/Write"
@page "/Article/Write/{Id:int}"
@using Jx.Cms.Service
@using Jx.Cms.Common.Attribute
@using Jx.Cms.Common.Enum
@using Jx.Cms.Entities.Article
@using Jx.Cms.Service.Admin
@using Jx.Cms.Admin.ViewModel
@using Mapster

@inject NavigationManager NavigationManager
@inject IArticleService ArticleService
@inject ICatalogService CatalogService
@inject ToastService ToastService

@attribute [Menu("A0259D93-39EB-462B-A69F-13924963D6AE", "写文章", "/Admin/Article/Write", 5, iconClass:"fa fa-pencil", parentId:MenuIds.ArticleId)]

<ValidateForm class="row" Model="Article" OnValidSubmit="@OnValidSubmit">
    <div class="col-lg-9 col-md-8">
        <div class="row">
            <div class="form-group col-12">
                <BootstrapInput placeholder="请输入标题" @bind-Value="@Article.Title" DisplayText="文章标题" ShowLabel="true"></BootstrapInput>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-12">
                <label>文章内容</label>
                <Editor IsEditor="true" Height="400" @bind-Value="@Article.Content"></Editor>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-12">
                <BootstrapInput @bind-Value="@Article.Alias" DisplayText="别名" ShowLabel="true"></BootstrapInput>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-12">
                <BootstrapInput @bind-Value="@Article.Labels" DisplayText="文章标签(用,隔开)" ShowLabel="true"></BootstrapInput>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-4">
        <div class="row">
            <div class="form-group col-12">
                <Button IsBlock="true" Size="Size.Large" ButtonType="ButtonType.Submit">提交</Button>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-12">
                <Select Items="ArticleStatus" @bind-Value="Article.Status" DisplayText="状态"></Select>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-12">
                <Select Items="Catalogs" @bind-Value="Article.CatalogueId" DisplayText="分类"></Select>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-12">
                <DateTimePicker TValue="DateTime" ShowSidebar="true" @bind-Value="@Article.PublishTime" DisplayText="发布时间" ShowLabel="true" ViewModel="DatePickerViewModel.DateTime" />
            </div>
        </div>
    </div>
</ValidateForm>
@code {
    [Parameter]
    public int Id { get; set; }

    private ArticleVm Article { get; set; }

    private IEnumerable<SelectedItem> ArticleStatus { get; set; } = typeof(ArticleStatusEnum).ToSelectList();

    private IEnumerable<SelectedItem> Catalogs { get; set; }

    protected override void OnInitialized()
    {
        base.OnInitialized();
        Article = (Id == 0 ? new ArticleEntity(){IsPage = false, PublishTime = DateTime.Now} : ArticleService.GetArticleById(Id)).Adapt<ArticleVm>();
        Catalogs = CatalogService.GetAllCatalogs().Select(x => new SelectedItem(x.Id.ToString(), x.Name));
    }

    private async Task OnValidSubmit(EditContext arg)
    {
        // TODO: 增加登录后这里要改成用户名
        Article.Author = "Admin";
        
        var ret = ArticleService.SaveArticle(Article.Adapt<ArticleEntity>());
        await ToastService.Show(new ToastOption()
        {
            Category = ret?ToastCategory.Success: ToastCategory.Error,
            Title = ret?"保存成功":"保存失败",
            Content = $"保存数据{(ret?"成功":"失败")}，4 秒后自动关闭"
        });
        if (ret)
        {
            NavigationManager.NavigateTo("Article/All");
        }        
    }

}